*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: red; */
    background:#092635;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-wrapper{
    background: #1B4242;
    color: #fff;
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.form-wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 38px;
    text-decoration: underline;

}
.form-wrapper form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
form label{
    font-size: 20px;
}
form input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    margin-bottom: 10px;
}
.btn-wrapper{
    text-align: center;
}
.btn-wrapper button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #5C8374;
    color: #fff;
    transition: background,color 0.3s ease;
}
.btn-wrapper button:hover{
    background: #fff;
    color: #000;
}
.btn-wrapper p a{
    font-size: 18px;
    padding: 0px 10px;
    /* text-decoration: none; */
    color: #fff;
}
