body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    max-width: 600px;
}

.emoji {
    font-size: 8rem;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn {
    font-size: 1.25rem;
    padding: 10px 20px;
}