*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #092635;
}
section#sidebar{
    background: #1B4242;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.185);
}
div.sidebar{
    position: relative;
    width: 100%;
}
div.sidebar ul li{
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 30px 0;
}
div.sidebar ul li a{
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 50px ;
}
div.sidebar ul li:hover a{
    color: #1B4242;
    background: #fff;
}
div.info{
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: #fff;
    text-align: center;
}
div.info p{
    font-size: 16px;
}
div.info p a{
    text-decoration: none;
    color: #00ffff;
}  
