<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="/static/ToDo/basestyle.css" />
    {% block style %}{% endblock style %}
</head>
<body>
    <main>
        <section id="sidebar">
            <div class="sidebar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/addtask">Add Task</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                <div class="info">
                    <p>
                        Developed By <br /><a href="bhandari-santosh.com.np" target="_blank">Santosh Bhandari</a>
                    </p>
                </div>
            </div>
        </section>
        <section id="main">
            <div class="main">
                {% block mainsection %}{% endblock mainsection %}
            </div>
        </section>
    </main>
</body>

</html>