{% extends "base.html" %}
{% block tite %}Update Task{% endblock tite %}
    {% block style %}
    <link rel="stylesheet" href="/static/ToDo/addtask.css"/>
    <script defer src="/static/ToDo/script.js"></script>
    {% endblock style %}
{% block mainsection %}
                <div class="form-wrapper">
                    <form method="post">
                        {% csrf_token %}
                        <h3>Add Task</h3>
                        <p class='error'>{{error}}</p>
                        <label for="taskname">Task</label>
                        <input type="text" name="taskname" id="taskname" value="{{task}}">
                        <div class="btn-wrapper">
                            <button type="submit">Update</button>
                        </div>
                    </form>
                </div>
{% endblock mainsection %}      