{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>DashBoard</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Profile</li>
                <li>LogOut</li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="sidebar">

        </section>
        <section id="main">
            {% block main %}{% endblock main %}
        </section>
    </main>
</body>
</html>