{% extends 'base.html' %}
{% block title %}DashBoard{% endblock title %}
    <title>DashBoard</title>
    <link rel="stylesheet" href="/static/ToDo/basestyle.css" />
{% block style %}
    <link rel="stylesheet" href="/static/ToDo/index.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock style %}
{% block mainsection %}
                <div class="task-wrapper">
                    <h3>Task List</h3>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>S.N.</th>
                                <th>Task</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if tasklist %}
                                {% for task in tasklist %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        {% if task.task_status == False %}
                                            <td>{{ task.task_desc }}</td>
                                            <td>Pending</td>
                                        {% else %}
                                            <td><del>{{ task.task_desc }}</del></td>
                                            <td>Completed</td>
                                        {% endif %}
                                        <td><a href='edit/{{task.id}}/'>Edit</a> | <a href='deletetask/{{task.id}}'><i
                                            class="fas fa-trash-alt fa-lg text-warning"></i></a> | <a href='update/{{task.id}}/'> <i
                                            class="fas fa-check fa-lg text-success me-3"></i></a></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4">No Task Found</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
{% endblock mainsection %}
