{% extends 'base.html' %}
{% block title %}DashBoard{% endblock title %}
    <title>DashBoard</title>
    <link rel="stylesheet" href="/static/ToDo/basestyle.css" />
{% block style %}
    <link rel="stylesheet" href="/static/ToDo/index.css" />
{% endblock style %}
{% block mainsection %}
                <div class="task-wrapper">
                    <h3>Task List</h3>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>S.N.</th>
                                <th>Task</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if tasklist %}
                                {% for task in tasklist %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        {% if task.task_status == False %}
                                            <td>{{ task.task_desc }}</td>
                                            <td>Pending</td>
                                        {% else %}
                                            <td><del>{{ task.task_desc }}</del></td>
                                            <td>Completed</td>
                                        {% endif %}
                                        <td>Edit | <a href='deletetask/{{task.id}}'>Delete</a> | <a href='update/{{task.id}}/'> Update</a></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4">No Task Found</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
{% endblock mainsection %}
