<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/Auth/style.css"/>
</head>
<body>
    <div class="form-wrapper">
        <h2>Login</h2>
        <form method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter a Username"/>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter a Password"/>
            <div class="btn-wrapper">
                <button type="submit">Login</button>
                <p>Don't Have Account?<a href="/register">Register</a></p>
            </div>
        </form>
    </div>
    
</body>
</html>